extends layout

block content
	.bar-name
		h3=user.restaurantName
	.container.theme-showcase(role='main')
		h1 Alérgenos
		.row
			.col-md-6
				form(action='/admin/allergens', method='POST', role='form')
						.form-group
							label(for='') Nombre
							input.form-control(type='text', name='name', autofocus, placeholder='Add new category...')
						button.btn.btn-primary(type='submit') Añadir
			.col-md-6
				table.table.table-hover
					thead
						tr
							th='Nombre'
							th='Opciones'
					tbody.allergens
						each allergen in allergens
							tr(data-id=allergen._id)
								td=allergen.name
								td
									div.btn-group.btn-group-xs(role="group")
										button.btn.btn-danger.delete(type="button")='Borrar'