extends layout

block content
	.container.theme-showcase(role='main')
		.create
			.container
				h1
					span.glyphicon.glyphicon-pencil.icon_create
					|  Edit dish
		.container
			.row
				form.form-grup(id="update-dish", role='form')
					input(type="hidden", name="id", value=dish._id)
					.form-group
						.col-md-4
							.row
								.col-md-8
									label.control-label(for='name') Name:
									input.form-control(type='text', id='name', name='name', value=dish.name, required)
								.col-md-4
									label.control-label(for='price') Price:
									input.form-control(type='text', id='price', name='price', value=dish.price, required)
								.col-md-12
									label.control-label(for='description') Description:
									textarea.form-control(id='description', name='description', rows='8', cols='100')=dish.description
						.col-md-4
							label Allergens:
							each allergen in allergens
								.checkbox
									label
										if dish.allergens.includes(allergen.name)
											input(type="checkbox" name="allergens" checked=true value=allergen.name)
										else
											input(type="checkbox" name="allergens" value=allergen.name)
										| #{allergen.name}
						//- .col-md-4
						//- 	label.control-label(for='input') Image:
						//- 	#photo-container
						//- 		img#photoPreview(src='/img/beer.jpg' width="200")
						//- 	br
						//- 	input#fileRoute(type='file', ng-model='image')
						//- 	#progress-container
						.col-md-12
							button.btn.btn-default.cancel(type='submit') Cancel
							button.btn.btn-primary.update(type='submit') Update