extends layout

block content
  .bar-name
    .container
      h4=restaurantName
  .container.theme-showcase(role='main')

    .row
      .col-md-4
        h3 Añadir producto
        form(action='/admin/dishes', method='POST', role='form')
            .form-group
              label(for='category') Categoría
              select.form-control(name='category' id='category' autofocus)
                each category in categories
                  option(value=category._id)=category.name
              br
              label(for='name') Nombre
              input.form-control(type='text' name='name' id='name' placeholder='Añadir nuevo producto...')
              br
              label(for='price') Precio
              div.input-group
                input.form-control(type='number' step='0.01' value='0.00' placeholder='0.00' name='price' id='price')
                div.input-group-addon €
            button.btn.btn-primary(type='submit') Añadir
      .col-md-8
        h3 Menu
        table.table.table-hover
          thead
            tr
              th='Nombre'
              th='Precio'
              th='Info'
              th='Stock'
              th='Admin'
          tbody.dishes
            each category in categories
              tr.active
                td
                  strong=category.name
                td
                td
                td
                td
              each dish in category.dishes
                tr(data-id=dish._id)
                  td=dish.name
                  td=dish.price
                  td
                    button.btn.btn-default.btn-xs.info(type="button")
                      if (dish.info===true)
                        span.glyphicon.glyphicon-eye-open
                      else
                        span.glyphicon.glyphicon-eye-close
                  td
                    button.btn.btn-default.btn-xs.stock(type="button")
                      if (dish.stock===true)
                        span.glyphicon.glyphicon-ok
                      else
                        span.glyphicon.glyphicon-remove
                  td
                    div.btn-group.btn-group-xs(role="group")
                      button.btn.btn-default.edit(type="button")='Editar'
                      button.btn.btn-danger.delete(type="button")='Borrar'


